<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TODOS FOR TODAY:</h1>
<a href="/Todo/add">Add new todo</a>
<table>
    <th>id</th>
    <th>action</th>
    <th>done</th>
    <th>urgent</th>
    <tr th:each="todos : ${todos}">
        <td th:text="${todos.restaurant_id}">aa</td>
        <td th:text="${todos.name}">bb</td>
        <td th:text="${todos.cuisine}">cc</td>
        <td th:text="${todos.borough}">dd</td>
    </tr>
</table>
</body>
</html>