.imgsize{
    height: 10vh;
    width: 10vw;
}

.btnline{
    list-style-type: none;
    text-align: center;
}

.bigimgsize{
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
}

.imgcontainer{
    display: flex;
}

.arrowimg{
    height: 10vh;
    width: 10vw;
    padding-top: 20vh;
}