.title{
    color: blue;
    font-size: 40px;
    font-weight: bolder
}

.sub{
    color: orange;
    font-size: 30px;
    font-weight: bold
}

.ss{
    color: blue
}

#aa{
    color: red
}
